{% extends "base.html" %}

{% block content %}

<p>Введите в первое поле матрицу коэффициентов, а во второе - правую часть системы в виде столбца, разделяя значения в строке пробелом, строки переносом строки, а дробную часть от целой - точной. Число строк в двух полях должно совпадать.
<p>В третьем поле будет результат. Если он выглядит странно(содержит бесконечности и NaN-ы), то, вероятно, система имеет бесконечное число решений. 
<form action="/gauss" method="GET">
  <textarea value="{{a}}" name="a" /></textarea>
  <textarea value="{{b}}" name="b" /></textarea>
  <input type="text" value="{{result}}" name="result" />
  <input type="submit" value="Get!">
</form>

{% endblock %}
